<html>
    <head>
        <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <img id="logo" src="/public/assets/techtargetlogo.png" alt="logo">
            <h1 id="heading"></h1>
        </div>
        <div id="content">
            <% for(var i = 0; i < itemArr.length; i++) { %>
                <a href="<%= itemArr[i].link; %>">
                    <%= itemArr[i].title%></a>
                <br>
                <br>
                <p id="dateTime"><%=itemArr[i].pubDate%></p>
                <br>
                <br>
            <%}%>
        </div>

        <script>
            if (window.location.pathname === "/fr") document.getElementById("heading").innerHTML = 'Bienvenue dans la liste de contenu TechTarget';
            else if (window.location.pathname === "/de") document.getElementById("heading").innerHTML = 'Willkommen bei der Inhaltsliste von TechTarget';
            else if (window.location.pathname === "/it") document.getElementById("heading").innerHTML = 'Benvenuto nell\'elenco dei contenuti di TechTarget';
            else if (window.location.pathname === "/es") document.getElementById("heading").innerHTML = 'Bienvenido a la lista de contenido de TechTarget';
            else document.getElementById("heading").innerHTML = 'Welcome to TechTarget Content List';
        </script>
    </body>
</html>