<html>
<head>
    <title>TechTarget RSS Site</title>
    <meta charset="UTF-8">

    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon"  type="image/x-icon" href="/public/assets/favicon.ico" />

</head>
<body onload="langRedirect()">
    <div id="header">
        <img id="logo" src="/public/assets/techtargetlogo.png" alt="logo">
        <h1>Welcome to TechTarget</h1>
    </div>
    <script>
       function langRedirect() {
           var x = "" + navigator.language;
           location.replace("/" + x.slice(0,2));
       }
    </script>
</body>
</html>

